* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #efefef;
}

#container {
    background-image: url(../img/background.png);
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 0 2px white, 0 0 0 4px darkgray;
    width: 1215px;
    height: 1028px;
    font-family: "Helvetica Neue";
}

#header {
    background: #074f8e;
}

.menu {
    height: 40px;
    padding-left: 425px;
}

.menu ul {
    display: inline-block;
    height: 40px;
}

.menu li {
    float: left;
    list-style: none;
    font-size: 14px;
}

.menu a {
    display: block;
    line-height: 40px;
    padding-left: 19px;
    padding-right: 19px;
    color: #60b5ed;
    text-decoration: none;
}

.menu a:hover {
    border-left: 1px solid #56a2dc;
    border-right: 1px solid #56a2dc;
    color: white;
    background: linear-gradient(to top, #2e7ac4, #50afdc);
}

#attention {
    border-left: 1px solid #56a2dc;
}
.flag {
    vertical-align: middle;
    padding-right: 10px;
}

#content {
    margin: 0 auto;
    margin-top: 210px;
    height: 613px;
    width: 560px;
    background: rgba(0, 0, 0, 0.5);
}

#title {
    height: 45px;
    padding-top: 20px;
    border-bottom: 2px solid #c4c6b8;
    color: white;
    text-align: center;
    font-size: 24px;
}

#logo {
    margin: 0 auto;
    width: 276px;
    padding-top: 33px;
    padding-bottom: 20px;
}

#OU {
    margin: 0 auto;
    color: #999999;
    text-align: center;
    background-position: center;
    background-image: url(../img/grey_lines.png);
    background-repeat: no-repeat;
}

.contact_form {
    margin: 0 auto;
    width: 276px;
}

.contact_form li {
    padding-top: 17px;
    list-style: none;
}

.first_name, .last_name, .email, .password1, .password2 {
    height: 35px;
    width: 260px;
    padding-left: 16px;
    background: #0f0f0f;
    color: #7f7f7f;
    border: transparent;
    border-bottom: 1px solid #484948;
}

.first_name:focus, .last_name:focus, .email:focus, .password1:focus, .password2:focus {
    background: linear-gradient(to right, #1b5287, #1b5185);
    color: white;
    border-bottom: 1px solid #689bcc;
    box-shadow: 0 0 10px 5px #4f7e9b;
}

#checkbox {
    height: 40px;
    padding-top: 20px;
}

#agree + label span {
    color: white;
}

.button {
    display:block;
    margin: 0 auto;
    width: 150px;
    height: 35px;
    color: white;
    font-size: 14px;
    background: linear-gradient(to top, #2e7ac4, #4faddb);
}

.footer {
    padding-top: 35px;
    color: white;
    font-size: 11px;
    text-align: center;
}