* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background-image: url(../img/background.png);
  background-size: cover;
}

#container {
    width: 100%;
    height: 1028px;
    font-family: "Helvetica Neue";
}

header {
  background: #074f8e;
  overflow: hidden;
  padding: 0 20px;
  height: 37px;
}

.menu {
    float: right;
    display: inline-block;
  }

.menu li {
    float: left;
    list-style: none;
    font-size: 14px;
    color: #60b5ed;
}

.menu li > a {
    display: inline-block;
    padding: 10px;
    color: #60b5ed;
    text-decoration: none;
}

.menu li > a:hover {
    color: white;
    background: linear-gradient(to top, #2e7ac4, #50afdc);
}

#attention a {
  padding-left: 0;
}

 .flag {
   vertical-align: middle;
   padding: 0 10px 0 20px;
   border-left: 1px solid #56a2dc;
 }

.menu p {
  text-decoration: underline;
  display: inline-block;
  font-size: 14px;
}

#content {
    margin: 0 auto;
    margin-top: 210px;
    height: 613px;
    width: 560px;
    background: rgba(0, 0, 0, 0.5);
}

#title {
    height: 45px;
    padding-top: 20px;
    border-bottom: 2px solid #c4c6b8;
    color: white;
    text-align: center;
    font-size: 24px;
}

.facebook {
	margin: 36px auto 0 auto;
	display: block;
	width: 276px;
	line-height: 34px;
	font-size: 15px;
	overflow: hidden;
	text-align: center;
	color: white;
}

.facebook div {
	display: inline-block;
	float: left;
}

.facebook div:first-child {
	width: 38px;
	font-size: 26px;
	font-weight: bold;
	border-radius: 5px 0 0 5px;
	border-top: 1px solid #7889b5;
	border-right: 1px solid #1d3c73;
	background: linear-gradient(to top, #314373, #3f5793);
}

.facebook div:last-child {
	width: 236px;
	height: 34px;
	border-top: 1px solid #7889b5;
	border-left: 1px solid #4b67a6;
	background: linear-gradient(to top, #314373, #3f5793);
}

.facebook span {
	font-weight: bold;
}

.facebook span:last-child {
	font-family: Tahoma;
	padding-left: 20px;
}

.line_form {
	margin: 24px auto;
	width: 275px;
	overflow: hidden;
}

.line_form div {
	float: left;
}

.line_form_border {
	position: relative;
	top: 0.45em;
	width: 121px;
	border-top: 1px solid #666;
	border-bottom: 1px solid #000;
}

.line_form_text {
	margin: 0 6px;
	font-size: 14px;
	color: #7c7e7b;
}

.contact_form {
    margin: 0 auto;
    width: 276px;
}

.contact_form li {
    padding-bottom: 17px;
    list-style: none;
}

.first_name, .last_name, .email, .password {
    height: 35px;
    width: 260px;
    padding-left: 16px;
    background: #0f0f0f;
    color: #7f7f7f;
    border: transparent;
    border-bottom: 1px solid #484948;
}

.first_name:focus, .last_name:focus, .email:focus, .password:focus {
    background: linear-gradient(to right, #1b5287, #1b5185);
    color: white;
    border-bottom: 1px solid #689bcc;
    box-shadow: 0 0 10px 5px #4f7e9b;
}

#checkbox {
    height: 40px;
    color: white;
    font-size: 14px;
}

.button {
    display:block;
    margin: 0 auto;
    width: 150px;
    height: 35px;
    color: white;
    font-size: 14px;
    cursor: pointer
    border-radius: 3px;
    border: 1px solid #3686ca;
    background: linear-gradient(to top, #2e7ac4, #4faddb);
}

.footer {
    padding-top: 19px;
    color: white;
    font-size: 11px;
    text-align: center;
}
